html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--u-text-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "微软雅黑",
    sans-serif;
}
